.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    max-width: 440px;
    height: 635px;
}


.form-row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}



.form-control {
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.closeUser {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.closeUser:hover {
    color: red;
}


.popup-form input[type="text"],
.popup-form input[type="number"],
.popup-form input[type="file"] {
    width: 220px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-actions1{

    text-align: center;
    margin-top: 30px;
}


#combine_wrapper {
    overflow-x:auto;
    padding: 20px;
}


#updateUserFormPopup{
    max-width: 440px;
    height: 635px;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 110px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    max-width: 440px;
    height: 635px;
}






#combine thead th {
    background-color: #343a40;
    color: #ffffff; 
}

.btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}


